<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumDays" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="PaymentsData" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PaymentsData;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
